<launch>

	<!-- available languages: { english , spanish } -->
	<arg name="language" default="english"/>
	<arg name="use_double_mic" default="false" />
	<arg name="show_subtitles" default="false"/>
	
	<!-- Speech Recognizer -->
	<include file="$(find bender_speech)/launch/recognizer.launch">
		<arg name="use_double_mic" value="$(arg use_double_mic)" />
	</include>

	<!-- Speech Synthesizer -->
	<include file="$(find bender_speech)/launch/synthesizer.launch">
		<arg name="language" value="$(arg language)"/>
		<arg name="show_subtitles" value="$(arg show_subtitles)"/>
	</include>

</launch>