<launch>
	<arg name="recorder_audio" default="false"/>

    <node
        name="recognizer" pkg="uchile_speech_web_pepper" type="recognizer_web_naoqi.py" ns="/maqui/speech_web"
        respawn="false" output="screen">
    </node>

	<node if="$(arg recorder_audio)" name="recorder_audio" pkg="uchile_speech_pocketsphinx" type="recorder.py" ns="/bender/speech" />


</launch>
